* {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

}


/* top of the navbar */
.navbar {
    display: flex;
    list-style: none;
    margin-left: 70%;
    font-size: 12px;
    height: 33px;
    width: 925px;
    align-items: center;


}

.navbar li {
    padding: 12px 12px;
    font-weight: 600;
    font-size: 16px;

}

.navbar li:hover {
    color: #5472d2;
    transition: all 0.4s ease;
}


.home1{
    color: #5472d2;
}


.things-1 {
    margin-top: 2px;
    height: 125px;
    width: 100vw;
    background-color: #002066;
}


.content-1 {
    margin-top: 7px;
    position: absolute;
    height: 111px;
    width: 900vw;
    background-color: white;

}

.content-1 img {
    height: 79px;
    margin-top: 10px;
    margin-left: 1.2%;
}

.content-1 h1 {
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin-left: 2%;
    font-weight: 700;
    margin-top: 15px;
    color: #002066;
}

.content-1 p {
    font-weight: 600;
    position: absolute;
    font-size: 14px;
    line-height: 1.6em;
    margin-left: 2%;
    margin-top: 41px;
}

.content-1 h6 {
    font-weight: 600;
    position: absolute;
    font-size: 16px;
    line-height: 1.6em;
    margin-left: 2%;
    margin-top: 60px;
}

.content-1 h2 {
    font-weight: 600;
    position: absolute;
    font-size: 16px;
    margin-left: 7.1%;
    margin-top: 10px;
}

.content-1 h2:hover {
    color: #5472d2;
    transition: all 0.4s ease;
}

.content-1 h3 {
    font-weight: 600;
    position: absolute;
    font-size: 16px;
    margin-left: 8.3%;
    margin-top: 10px;
}

.content-1 h3:hover {
    color: #5472d2;
    transition: all 0.4s ease;
}

.content-1 h4 {
    font-weight: 600;
    position: absolute;
    font-size: 16px;
    margin-left: 7.1%;
    margin-top: 33px;
}

.content-1 h4:hover {
    color: #5472d2;
    transition: all 0.4s ease;
}

.content-1 h5 {
    font-weight: 600;
    position: absolute;
    font-size: 16px;
    margin-left: 7.9%;
    margin-top: 33px;

}

.content-1 h5:hover {
    color: #5472d2;
    transition: all 0.4s ease;
}

.admission {
    position: absolute;
    font-size: 16px;
    margin-left: 7.1%;
    margin-top: 65px;
    border: 1px solid transparent;
    padding: 9px 18px;
    background-color: #f13617;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.navbar-1 {
    display: flex;
    margin-top: 0.3%;
    height: 60px;
justify-content: space-evenly;
background-color: #002066;


}

.navbar-1 li {
    margin-top: 0.6%;
    display: inline-block;
    list-style: none;
    font-size: 1rem;
    color:white;
    font-weight: 600;


}

.navbar-1 li:hover {
    color: #5472d2;
    transition: all 1s ease;
}

/* .siu {

    z-index: -1;
    width: 100vw;
    position: absolute;
    height: 45px;
    margin-top: 5px;
    background-color: #003266;
} */

i {
    margin-top: 16px;
    color: white;
    font-size: 12px;
}

.navbar-1 i:hover {
    color: #5472d2;
    transition: all 1s ease-in-out;
}

container {
    margin-top: 12%;
}

.images {
    margin-top: -1.1%;
    height: 700px;
    width: 100%;
    top: 0%;
    left: 0%;
    background-image: url(pdlc-1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: slider 50s infinite linear;
}


@keyframes slider {
    0% {
        background-image: url(pdlc-2.webp);
    }

    20% {
        background-image: url(pdlc-5.jpg);
    }

    30% {
        background-image: url(pdlc-3.webp);
    }

    40% {
        background-image: url(pdlc-4.webp);
    }

    60% {
        background-image: url(pdlc-6.webp);
    }

    70% {
        background-image: url(pdlc-7.webp);
    }

    80% {
        background-image: url(pdlc-8.webp);
    }

    90% {
        background-image: url(pdlc-9.webp);
    }

    100% {
        background-image: url(pdlc-10.webp);
    }
}

.content-2 h1 {
    height: 70px;
    margin-top: 2%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #002066;
}

.hr {
    border: 1px solid black;
}

.about h1 {
    margin-top: 1%;
    font-size: 27px;
    margin-left: 12%;
    color: rgb(28, 137, 28);
}

.about p {
    margin-top: 2%;
    margin-left: 12%;
    max-width: 40%;
    font-size: 18px;
}

.about h4 {
    font-weight: 200;
    margin-top: 2%;
    border: 1px solid transparent;
    display: inline-block;
    margin-left: 14%;
    color: white;
    cursor: pointer;
    padding: 12px 30px;
    border-radius: 4px;
    background-color: #5472d2;
}

.about h3 {
    font-weight: 200;
    margin-top: 2%;
    border: 1px solid transparent;
    display: inline-block;
    margin-left: 18%;
    color: #002066;
    font-weight: 700;
    cursor: pointer;
    padding: 17px 50px;
    border-radius: 4px;
    background-color: #dff2fe;
}



.about h3:hover {
    transition: 0.6s all ease-in-out;
    color: #fff;
}
.image11{
    position: relative;
}

.images-2 {
    margin-left: 57%;
    width: 150%;
    height: 650px;
    position: absolute; 
    background-image: url(pdlc11.webp);
    background-size: 20% 80%;
    background-repeat: no-repeat;
    animation: slide 10s infinite linear;
}

@keyframes slide {
    10% {
        background-image: url(pdlc12.webp);
    }

    20% {
        background-image: url(pdlc13.webp);
    }

    30% {
        background-image: url(pdlc14.webp);
    }

    40% {
        background-image: url(pdlc15.webp);
    }

    60% {
        background-image: url(pdlc16.webp);
    }

    70% {
        background-image: url(pdlc17.webp);
    }

    80% {
        background-image: url(pdlc18.webp);
    }

    90% {
        background-image: url(pdlc19.webp);
    }

}

.about h5 {
    font-weight: 900;
    margin-top: 35%;
    position: absolute;
    border: 1px solid transparent;
    display: inline-block;
    margin-left: 57%;
    color: white;
    font-weight: 700;
    cursor: pointer;
    padding: 19px 20px;
    border-radius: 4px;
    background-color: #5472d2;
}

.about h6 {
    font-weight: 100;
    margin-top: 35%;
    position: absolute;
    border: 1px solid transparent;
    display: inline-block;
    margin-left: 73%;
    font-size: 1rem;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
    padding: 17px 10px;
    border-radius: 4px;
    background-color: #5472d2;
}

.navbar-5 {
    max-width: 60%;
    display: flex;
    font-size: 1.2rem;
    margin-top: 13%;
    margin-left: 19%;
    font-weight: 500;
    height: 40px;
    list-style: none;
    justify-content: space-evenly;
}

.navbar-5 li:hover {
    color: gray;
    transition: all ease-in-out 0.4s;
}

.image-6 {
    margin-top: 1%;
    display: flex;
    margin-left: 12%;
    padding: 0px 12px;
}

.image-6 img {
    padding: 15px 10px;
}

.image-6 img:hover {
    transition: 0.5s;
    transform: scale(1.07);
}

.image-6 h1 {
    position: absolute;
    margin-top: 18%;
    font-size: 1.2rem;
    margin-left: 5%;
}

.image-6 h1:hover {
    color: #002066;
    transition: all ease-in-out 0.6s;
}

.image-6 h2 {
    position: absolute;
    margin-top: 18%;
    font-size: 1.2rem;
    margin-left: 32%;
}

.image-6 h2:hover {
    color: #002066;
    transition: all ease-in-out 0.6s;
}

.image-6 h3 {
    position: absolute;
    margin-top: 18%;
    font-size: 1.2rem;
    margin-left: 57%;
}

.image-6 h3:hover {
    color: #002066;
    transition: all ease-in-out 0.6s;
}

.card{
    margin-top: 8%;
    margin-right: 6%;
    margin-left: 12%;
 background-color: rgb(241, 237, 237);
}

.box{
    margin-left: 3%;
    margin-top: 3%;
    border: 2px solid transparent;
    height: 300px;
    background-color: white;
    width: 260px;
    display: inline-block;
    transition: transform 0.7s;
}



.box:hover {
    background-color: gray;
    cursor: pointer;
color: transparent;
    transform: rotateY(180deg);

}

.box i {
    margin-top: 30%;
    margin-left: 30%;
    color: #002066;
    font-size: 7rem;
}

.box h1{
    font-size: 2rem;
    margin-top: 6%;
    margin-left: 34%;
}

.box h2{
    font-size: 2rem;
    margin-top: 6%;
    margin-left: 11%;
}

.box h3{
    font-size: 2rem;
    margin-top: 6%;
    margin-left: 11%;
}

.box h4{
    font-size: 2rem;
    margin-top: 6%;
    margin-left: 11%;
}

.box h5{
    font-size: 2rem;
    margin-top: 9%;
    margin-left: 30%;
}

.box h6{
    font-size: 2rem;
    margin-top: 6%;
    margin-left: 5%;
}

.box p{
    font-size: 2rem;
    margin-top: 6%;
    font-weight: 700;
    margin-left: 30%;
}

 
.news{
  display: flex;
  margin-top: 4%;
  margin-right: 10%;
  margin-left: 10%;
  justify-content: flex-start;
  background-color: #002066;
  overflow: hidden;
  height: 60px;
  align-items: center;
}

.button2{
    margin-top: 76%;
    z-index: 99;
    position: absolute;
    margin-left: 10%;
    height:60px ;
    font-weight: 700;
    color: white;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    padding: 1px 10px;
    background-color:  #5472d2;
    border: 2px solid transparent;
}

.news img{
    animation: continue 6000ms infinite linear;
    height: 50px;
    text-transform: uppercase; 
    white-space: nowrap; 
    
}
span{
   color: white;
   font-weight: 700;
    font-size: 1rem;
    padding: 0 5rem;
    text-decoration:underline;
     white-space: nowrap; 
     text-transform: uppercase; 
    animation: continue 6000ms infinite linear;

} 

@keyframes continue {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}


.image-3 {

    margin-left: 10%;
  height: 100vh;
  width: 395vw;
  margin-right: 80%;
   background-size: cover;
    position: relative;
   background-image: url(pdlc21.webp);
    background-size: 20% 80%;
    background-repeat: no-repeat;
  animation: continue1  40s linear infinite;
}


@keyframes continue1 {
    10% {
        background-image: url(pdllc22.jpg);
    }

    20% {
        background-image: url(pdlc23.webp);
    }

    30% {
        background-image: url(pdlc24.webp);
    }

    40% {
        background-image: url(pdlc15.webp);
    }

    60% {
        background-image: url(pdlc26.webp);
    }

    70% {
        background-image: url(pdlc25.webp);
    }

    80% {
        background-image: url(pdlc27.webp);
    }

    90% {
        background-image: url(pdlc28.webp);
    }
}


.thinger{
   height: 500PX;
    background-color: rgb(228, 224, 224);
}
.things{
    margin-left: 3%;
    margin-top: 5%;
    display: inline-block;
    height: 360px;
    width: 300px;
    background-color: WHITE;
    border: 2px solid transparent;
}

.thinger .things img{
    height: 360px;
    width: 300px;
    transition: transform 19s;
}

.things:hover{
   opacity: 0.26;
   transition: all ease-in-out 1s;
   background-color: black;
}


.last-content{
    height: 700px;
    background-color: #002066;
}
.last-content img{
    margin-top: 5%;
    margin-left: 50%;
}

.last-content h1{
    margin-top: 0.6%;
    font-size: 1rem;
    color: white;
    margin-left: 50%;
}

.last-content p{
    height: 90px;
    margin-top: 1%;
    font-size: 1rem;
    color: white;
    margin-left: 50%;
}

.last-content h2{
    margin-top: 2%;
    margin-left: 15%;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.last-content h3{
    margin-top: 2%;
    margin-left: 15%;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

.last-content h4{
  margin-top: -1.3%;
    margin-left: 34%;
    font-weight: 700;
    font-size: 1rem;
    color: white;
}

.updated {
    background-color: black;
    color: white;
    padding: 1px 5px ;
}

.updated2{
    border: 2px solid transparent;
    border-radius: 10%;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    padding: 1px 5px ;
}

.last-content h5{
    font-size: 1rem;
    font-weight: 500;
    
    color: white;
    margin-top: -1%;
    margin-left: 60%;
}


.last-content h5 a{
    text-decoration: underline;
}